############################################################
# R
############################################################

.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user/

############################################################
# macOS / Windows
############################################################

.DS_Store
Thumbs.db

############################################################
# Bases de dados
############################################################

# Ignorar apenas a base consolidada
BD/base_srag_2013_2025.RData

# Cache da NASA POWER
BD/clima_nasa_power_*.rds

############################################################
# Resultados
############################################################

Resultados/

############################################################
# Objetos temporários
############################################################

*.tmp
*.bak
*.swp
*.log
